.bp4-button {
  min-width: 32px;
  min-height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 12px; 
}

.bp4-button:not([class*='bp4-intent-']) {
  color: #33304a;
}

.bp4-button:not([class*='bp4-intent-']):not(.bp4-minimal) {
  color: #555555;
  box-shadow: 0 0 0 transparent;

  &.bp4-small {
    font-size: 13px;
  }
}

.bp4-button-group.bp4-minimal .bp4-button {
  background-color: transparent;
}
.bp4-button-group.bp4-button {
  margin-left: 10px;
}

.bp4-button {
  &.bp4-intent-primary,
  &.bp4-intent-success,
  &.bp4-intent-danger,
  &.bp4-intent-warning {
    &,
    &:hover {
      box-shadow: 0 0 0 transparent;
    }
  }
}

/* Custom button styles matching the image */
.bp4-button.bp4-intent-primary {
  background-color: #313ca7 !important;
  margin-right: 10px !important;
  color: white !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  border: none !important;
  padding: 8px 16px !important;
  min-height: 40px !important;
  &:hover {
    background-color: white !important;
    color: #313ca7 !important;
    border: 1px solid #313ca7 !important;
  }
}

.button--secondary {
  background-color: white !important;
  color: #3f51b5 !important;
  border: 1px solid #3f51b5 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  padding: 8px 16px !important;
  min-height: 40px !important;
}

.bp4-button.ml1{
  background-color: white !important;
  font-size: 14px !important;
  color: #313ca7 !important;
  border: 1px solid #313ca7 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  box-shadow: none !important;
  padding: 8px 16px !important;
  min-height: 40px !important;
  &:hover {
    background-color: #313ca7 !important;
    color: white !important;
  }
}
